{% extends 'layout.html' %}


{% block auth_links %}
    <div class="auth-links">
        {% if session['username'] %}
            <span>Logged in as {{ session['username'] }}</span>
            <a href="/logout">Log Out</a>
        {% else %}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<div class="text-data">
    <h2>Your Texts</h2>
    {% if user_data %}
        {% for video_name, texts in user_data.items() %}
            <div>
                <h3>{{ video_name if video_name else "No Video Name" }}</h3>
                {% for text in texts %}
                    <p>Date Posted: {{ text.date_posted }}</p>
                    <p>Text: {{ text.text_content }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>You have no texts saved.</p>
    {% endif %}
</div>
{% endblock %}
